{% extends 'base_admin.html.twig' %}

{% block title %}Comics Collection - Admin: Les Comics
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="row">

			{% include 'admin/_parts/sidebar.html.twig' %}

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-3 mb-3 border-bottom">
					<h1 class="h2">Les comics</h1>
					<div class="btn-toolbar mb-2 mb-md-0">
						<a type="button" href="{{ path('admin_comics_add') }}" class="btn btn-sm btn-outline-secondary d-flex align-items-center gap-1 me-2">
							<i class="bi bi-plus-circle"></i>
							Ajouter un comic
						</a>
						<a type="button" href="{{ path('admin_authors_add') }}" class="btn btn-sm btn-outline-secondary d-flex align-items-center gap-1">
							<i class="bi bi-plus-circle"></i>
							Ajouter un auteur
						</a>
					</div>
				</div>
				<div class="container mt-4">
					{% for type, messages in app.flashes %}
						{% for message in messages %}
							<div class="alert alert-{{ type == 'success' ? 'primary' : 'danger' }} alert-dismissible fade show m-auto mb-4" role="alert">
								{{ message }}
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						{% endfor %}
					{% endfor %}
				</div>
				<div class="table-responsive small">
					<table class="table table-striped table-sm table-hover">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Image</th>
								<th scope="col">Titre</th>
								<th scope="col">Slug</th>
								<th scope="col">Collection</th>
								<th scope="col">Tome</th>
								<th scope="col">Auteur</th>
							</tr>
						</thead>
						<tbody>
							{% for comic in data.comics %}
								<tr onclick="window.location='{{ path('admin_comics_show', { slug: comic.slug }) }}';" style="cursor: pointer;">
									<td>{{comic.id}}</td>
									<td><img src="http://localhost:8989/public/uploads/comics/{{ comic.frontCover }}" alt="{{ comic.title }}" class="img-thumbnail" style="width: 50px; height: auto;"></td>
									<td>{{comic.title}}</td>
									<td>{{comic.slug}}</td>
									<td>{{comic.collection}}</td>
									<td>{{comic.tome}}</td>
									<td>{{comic.authorId}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

				<nav aria-label="Page navigation">
					<ul class="pagination justify-content-center">
						{% for i in 1..totalPages %}
							<li class="page-item {% if i == currentPage %}active{% endif %}">
								<a class="page-link" href="{{ path('admin_comics', { page: i }) }}">{{ i }}</a>
							</li>
						{% endfor %}
					</ul>
				</nav>
			</main>
		</div>
	</div>

{% endblock %}
